:root {
    --primary: #a5afdd;
    --primary-medium: #F99188;
    --primary-bold: #B12028;
    --primary-light: #F9D6D3;
    --neutral: #13334A;
    --danger: #ea3a3d;
    --warning: #f9b959;
    --success: #008302;
    --black: #3a3a3a;
    --black-medium: #7F7F7F;
    --black-bold: #06152b;
    --black-light: #B2B2B2;
    --black-xlight: #EBEEF0;
    --white: #ffffff;
    --light: #F1F1F1;
}


/*===== 1: Typography ================*/

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

html,
body {
    font-size: 20px;
    line-height: 21px;
    font-family: "Poppins", serif;
    color: #13334A;
    scroll-behavior: smooth;
}

h1 {
    font-size: 53.75px;
    line-height: 56px;
    font-family: Poppins-Medium;
}

h2 {
    font-size: 44.79px;
    line-height: 48px;
    font-family: Poppins-Medium;
}

h3 {
    font-size: 37.32px;
    line-height: 41px;
    font-family: Poppins-SemiBold;
}

h4 {
    font-size: 31.1px;
    line-height: 33px;
    font-family: Poppins-SemiBold;
}

h5 {
    font-size: 25.92px;
    line-height: 28px;
    font-family: Poppins-SemiBold;
}

h6 {
    font-size: 18.6px;
    line-height: 23px;
    font-family: Poppins-Bold;
}

small,
.small {
    font-size: 13px;
    line-height: 16px;
}

.letter-spacing {
    letter-spacing: 2.25px;
}

.font-weight-bold {
    font-family: Poppins-Bold !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-black-medium {
    color: var(--black-medium) !important;
}

.text-black-light {
    color: var(--black-light) !important;
}

.text-black-bold {
    color: var(--black-bold) !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.line-height-12 {
    line-height: 1.2 !important;
}

.line-height-15 {
    line-height: 1.5 !important;
}

.row-md {
    margin-left: -8px;
    margin-right: -8px;
}

.row-md>[class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

.row-sm {
    margin-left: -5px;
    margin-right: -5px;
}

.row-sm>[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}


/*====== 2: COMMONS ======*/

.bg-light {
    background-color: var(--light) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-black-light {
    background: var(--black-light)
}

.bg-black-xlight {
    background: var(--black-xlight)
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-underline {
    text-decoration: underline;
}

.vertically-align {
    display: flex;
    align-items: center;
}

.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.rounded {
    border-radius: 15px !important;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary-medium);
}

.link-dark {
    color: var(--black);
}

.link-dark:hover {
    color: var(--primary);
    text-decoration: none;
}

.btn {
    padding: 16px 48px;
    text-decoration: none;
    min-height: 52px;
    text-align: center;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-family: Poppins-Bold;
    border-radius: 26px;
    line-height: 21px;
    font-size: 15px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.35rem 0.5rem;
    font-size: 12px;
    line-height: 16px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-bold);
    border-color: var(--primary-bold);
    box-shadow: none;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary {
    color: var(--white);
    background-color: var(--black);
    border: solid 1px var(--black);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-secondary:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-outline-primary:hover {
    color: var(--primary);
    background-color: var(--primary-light);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: var(--primary-light);
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-secondary {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-outline-secondary:hover {
    color: var(--black);
    background-color: var(--light);
    border-color: var(--black);
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: var(--black);
    background-color: var(--light);
    border-color: var(--black);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.badge-pink {
    background-color: #ffd1cd;
    color: #06152b;
}

.btn.disabled,
.btn:disabled {
    background-color: var(--light) !important;
    border-color: var(--black-light) !important;
    color: var(--black-light) !important;
}

.btn-link {
    color: var(--primary);
    text-decoration: underline dashed;
    text-underline-offset: 4px;
}

.btn-link:hover {
    color: var(--primary);
    text-decoration: underline dashed;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 0.5rem;
}

.btn>img {
    height: 14px;
    margin-bottom: 3px;
}

.form-control {
    border: solid 1.5px var(--black-light);
    border-radius: 5px;
    font-size: 16px;
    height: calc(1.5em + 1.25rem + 10px);
    padding: 0.35rem 1.25rem;
}

.form-control::placeholder {
    font-size: 14px;
    color: var(--black-medium);
}

.form-control:hover {
    border-color: var(--black-medium);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--black-medium);
}

.form-control.is-invalid:hover {
    box-shadow: none;
    border-color: var(--danger);
}

.form-control.is-invalid:focus {
    box-shadow: none;
}

.form-control.is-invalid~.invalid-feedback {
    padding-left: 0.75rem;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: var(--black-xlight);
    opacity: 1;
    border-color: var(--black-xlight);
    color: var(--black-light);
}

.form-control:disabled~label,
.form-control[readonly]~label {
    color: var(--black-medium);
}

.form-group.floating {
    position: relative;
}

.form-group.floating label {
    margin-bottom: 0;
    position: absolute;
    left: 0.75rem;
    top: 0.725rem;
    transition: all 0.25s;
}

.form-group.floating .form-control:focus~label,
.form-group.floating .form-control.focus~label {
    top: -0.575rem;
    z-index: 2;
    font-size: 14px;
}

.form-group.floating .form-control:focus~label:before,
.form-group.floating .form-control.focus~label:before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    left: -1px;
    background: white;
    top: calc(50%);
    z-index: -1;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus):-moz-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-moz-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-ms-input-placeholder {
    color: var(--white) !important;
}

.form-group.floating .form-control:not(.focus):not(:focus)::placeholder {
    color: transparent;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.preloader {
    background-color: #f6f5ef;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
}


/*========= Pagination ============ */

.page-item:first-child .page-link {}

.page-link {
    background: var(--white);
    border: solid 1px var(--white);
    color: var(--black-bold);
    border-radius: 5px;
    text-decoration: none;
}

.page-link:hover {
    color: var(--white);
    background-color: var(--secondary);
}

.page-item.active .page-link {
    color: var(--white);
    background-color: var(--black-bold) !important;
    border-color: var(--black-bold);
}

.page-link:focus {
    box-shadow: none;
}

.pagination {
    flex-wrap: wrap;
    margin: 3rem 0;
}

.page-item+.page-item {
    margin-left: 0.5rem;
}

.overflow-ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.overflow-ellipsis3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 660px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 880px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1088px;
    }
}


/* Hide scrollbar for IE, Edge and Firefox */

.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}