.line-height-17 {
    line-height: 1.7;
}

.font-h4 {
    font-size: 31.1px;
    line-height: 40px;
    font-weight: 900;
}

.font-weight-semi-bold {
    font-family: Poppins-SemiBold;
}

a:hover {
    text-decoration: none;
}

.home-page .section-1 {
    padding-left: 200px;
    padding-right: 200px;
}

.section-2 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.section-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-3 .card {
    border: 0;
    box-shadow: 2px 2px 20px var(--black-xlight);
    background: var(--white);
    background-size: cover;
    background-position: center;
    height: 20rem;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .card p {
    line-height: 1.7;
    color: var(--black-medium);
}

.section-3 a:hover {
    text-decoration: none;
}

.section-4 .container{
    padding-left: 55px;
    padding-right: 55px;
}


.section-5 .container .left {
    right: 80px;
}

.section-5 .mobile-left {
    display: none;
}

.section-7 .card {
    border: 0;
    box-shadow: 2px 2px 20px var(--black-xlight);
    background: var(--white);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 18rem;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7 .card .content {
    max-height: 10rem;
    overflow: auto;
}

.section-7 .col-12 .bottom-image-out {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-7 .col-12 .bottom-image-out img {
    height: 70px;
    width: 70px;
    position: relative;
    border: 5px solid var(--white);
    box-shadow: 1px 1px 5px var(--black-light);
    border-radius: 50%;
}

.section-7 .col-12 img {
    height: 95px;
    width: 95px;
}

.section-7 .card .bottom-image img:hover {
    transform: scale(1.1);
    transition-delay: 0.5s;
}

.section-7 {
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
    flex-basis: 100%;
}
.section-7 .owl-carousel{
    width: 100%;
    height: auto;
}


.section-9 .container img {
    max-height: 100px;
    max-width: auto;
}

.section-10 {
    background: url('/assets/images/Home/home-cta-bg.png') no-repeat;
    background-size: cover;
    background-position: top right;
    position: relative;
    padding: 100px;
}

.section-10 .container {
    padding-left: 70px;
    padding-right: 70px;
}


@media screen and (max-width: 1024px) {
    /* section-1 */
    .home-page .section-1 {
        padding-left: 70px;
        padding-right: 70px;
    }

    /* section-5  */
    .section-5 .container .left {
        right: 60px;
    }

    /* section-8 */
    .section-8 .watch-more {
        font-size: 10px;
        padding: 13px 36px;
    }

    /* section-10 */
    .section-10 .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 991px) {
    /* section-1 */
    .home-page .section-1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-1 .left .pl-3 {
        padding-left: 0px;
    }
    .section-1 .left .btn {
        font-size: 12px;
    }

    /* section-2  */
    .section-2 {
        padding-left: 100px;
        padding-right: 100px;
    }

    /* section-4  */
    .section-4 .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-4 h4,
    .section-5 h4,
    .section-6 h4 {
        font-size: 22px;
    }
    .section-4 p,
    .section-5 p,
    .section-6 p {
        font-size: 13px;
    }

    /* section-5  */
    .section-5 .container .left {
        right: 40px;
    }

    /* section-6  */
    .section-6 .container .pl-5 {
        padding-left: 0px !important;
    }

    /* section-8 */
    .section-8 .row {
        padding-left: 20px !important;
        padding-right: 22px !important;
    }
    .section-8 .text-right {
        text-align: center !important;
    }
    .section-8 .watch-more {
        font-size: 10px;
        padding: 13px 36px;
    }
    .section-8 .bg-image {
    height: 14rem;
    }
    .section-8 .bg-image-2 {
        height: 6rem;
    }
    .section-8 .short-desc-2 {
        font-size: 10px;
    }

    /* section-10 */
    .section-10 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 767px) {

    /* section-2  */
    .section-2 {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .section-5 .container .left {
        right: 0px;
    }
    .section-5 .desktop-left {
        display: none;
    }
    .section-5 .mobile-left {
        display: block;
    }
    /* section-8  */
    .section-8 .bg-image,
    .section-8 .bg-image-2 {
        height: 14rem;
    }
    .section-8 .short-desc,
    .section-8 .short-desc-2 {
        font-size: 15.6px;
        line-height: 23px;
        font-family: Poppins-Bold;
    }
    .section-8 .desktop-watch-more {
        display: none;
    }
    .section-8 .mobile-watch-more {
        display: block;
    }
    .section-10 {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .section-4, 
    .section-5,
    .section-6 {
        padding-left: 20px;
        padding-right:20px;
    }

    /* section-8 */
    .section-8 .row,
    .section-8 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 425px) {
    .section-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-2 .col-6 {
        padding: 15px;
    }
}

@media screen and (max-width: 375px) {
    .section-1 .header-image {
        height: 25rem;
        width: 100%;
    }
    .section-8 .bg-image,
    .section-8 .bg-image-2 {
        height: 12rem;
    }
}
