.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: var(--secondary);
    }
    25% {
        stroke: var(--primary);
    }
    50% {
        stroke: var(--secondary);
    }
    75% {
        stroke: var(--primary);
    }
    100% {
        stroke: var(--secondary);
    }
}

@keyframes colors {
    0% {
        stroke: var(--secondary);
    }
    25% {
        stroke: var(--primary);
    }
    50% {
        stroke: var(--secondary);
    }
    75% {
        stroke: var(--primary);
    }
    100% {
        stroke: var(--secondary);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

/*=========================================
    HEADER
  =========================================*/
.header .navbar {
    background-color: var(--primary);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 5rem;
}

@media (min-width: 992px) {
    .header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-family: Poppins-Light;
}

.header .navbar-dark .navbar-nav .nav-link:focus,
.header .navbar-dark .navbar-nav .nav-link:hover {
    opacity: 0.8;
}

.header .navbar-dark .navbar-nav .active>.nav-link {
    font-family: Poppins-Bold;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgb(255 255 255 / 60%);
}

.header .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 7px 7px;
    border: none;
    background-color: var(--primary);
    padding: 0;
    min-width: 194px;
    overflow: hidden;
}

.header .dropdown.lang .dropdown-menu {
    min-width: 120px;
}

.header .dropdown-item {
    font-size: 15px;
    letter-spacing: 0.9px;
    padding: 12px 16px;
    color: var(--white);
    font-family: Poppins-Light;
}

.header .dropdown-item:hover {
    background-color: var(--primary-bold);
    color: var(--white);
}
.header .dropdown-item.active {
    background: var(--primary-bold);
}

.help-requirements-head-fw{
    font-weight: 800;
}


@media (min-width: 992px) {
    .header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 40px 10px;
    }

    .header .dropdown-menu {
        left: 10px;
    }
}

@media (min-width: 1200px) {
    .header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 40px 27.5px;
    }

    .header .dropdown-menu {
        left: 27.5px;
    }
}


/*END HEADER*/

/*======================
    FOOTER
 ======================= */

.footer {
    background-color: #252525;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: var(--black-light);
    text-decoration: none;
}

.footer-top {
    padding: 78px 0 42px 0;
}

.footer-link {
    color: #fff;
    display: block;
    text-decoration: none;
}

.footer-link + .footer-link {
    margin-top: 1rem;
}

.footer-bottom {
    border-top: solid 1px #3E3E3E;
    padding: 23px 0;
}

main {
    min-height: 50vh;
}

/*======================
    DOWNLOADS
======================= */

.download-andriod{
    background-color: #f1f1f1;
}

.download-ios{
    background-color: #ebeef0;
 }

/*======================
    HELP
======================= */
.help-and-support-area{
    background: url('../images/Help/help-header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.help-red-text{
    color: var(--primary);
}

.help-lineheight-h4{
    line-height: 45px;
}

.rounded-b-radius{
    border-radius: 5px;
}

.block-explanation-font-weight{
    font-weight: 600;
}

.border-grey{
    color: #f1f1f1;
}

.box{
    height: 100%;
}

.get-in-touch-area{
    background: url('../images/Help/help-cta-red-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-play-youtube{
    position: relative;
    width: 4rem;
}
.icon-youtube{
    position: relative;
    width: 5rem;
}

.help-video-tut-thumb{
    height: 12.8rem;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.help-video-tut-thumb::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: #ffffff14;
}

@media (max-width: 765px) {
    .help-video-tut-thumb-4{
        height: 10rem;
    }
}
.help-white-text{
    color: #f1f1f1;
}

.help-view{
    background-color: #ebeef0;
}

@media (max-width: 576px) {
    .details-vid-tut-flex,
    .careers-position-flex{
        flex-direction: column;
        text-align: center;
    }
}

.how-to-become-vender-head{
    font-size: 37.32px;
    line-height: 50px;
    font-weight: 600;
}

.help-requirements-bg{
    background-color: #f1f1f1;
}

.hr-dotted{
    border: none;
    border-top: 2px dashed #f1f1f1;
}

.hr-line{
    border: none;
    border-top: 2px solid #f1f1f1;
}

.submit-a-request{
    background-color: #ebeef0;
}

.submit-request-area .btn{
    color: #fff;
}

.submit-request-area{
    background: url('../images/Help/Help-Submit\ A\ Request-cta-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

input[type='file']{
    display: none;
}

.submit-a-request-form .custom-file-upload{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 3.75rem;
    width: 100%;
}

/*======================
    SECURITY
======================= */
.buyam-security-text{
    color: var(--primary);
}

.your-security-our-priority{
    line-height: 40px;
}

.buyam-security-image-section{
    background: url('../images/Security/security-hero-img.png');
    background-repeat: no-repeat;
    background-size: 57% 100%;
    background-position: top right;
}

.how-security-is-incorporated{
    background: url('../images/Security/security-bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.how-security-is-incorporated-text{
    background-color: #fff;
}

.how-security-is-incorporated .first{
    box-shadow: 0 30px 50px 20px #b2b2b2;
}

.download-buyam-today{
    background: url('../images/Security/Buyam\ -\ Features-img-cta-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {

    .buyam-security-text-section {
      text-align: center;
    }
    .download-buyam-today-btn{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {

    .your-security-our-priority{
        font-size: 4rem;
        line-height: 68px;
    }
}

@media (max-width: 992px) {
    .buyam-security-image-section{
        background: none;
    }
}

@media (max-width: 575.98px) {
    .buyam-security-image-section-2{
        background: url('../images/Security/security-hero-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .buyam-security-image-section-2{
        background: url('../images/Security/security-hero-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
}

/*======================
    CAREERS
======================= */
.careers-home,
.download-buyam-careers{
    background-color: #fafaff;
}

@media (max-width: 768px) {
    .careers-text-section  {
        text-align: center !important;
        padding-bottom: 5rem !important;
    }
    .careers-hero-img{
        text-align: center !important;
    }
    .btn-padding-md{
        padding-bottom: 1rem;
    }
    .dbtp{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.careers-body-text{
    font-weight: 500;
    line-height: 1.7;
    color: #999797;
}

.careers-body-text-600{
    font-weight: 600;
    line-height: 1.7;
    color: #999797;
}

.career-status-ongoing{
    color: rgb(37, 181, 248);
}

.career-status-expired{
    color: rgb(255, 6, 56);
}

.careers-cta-phones-img{
    z-index: 1;
    top: -66px;
    left: 41px;
    display: block;
}

@media (max-width: 1200px) {
    .careers-cta-phones-img{
        display: none;
    }
    .download-buyam-careers .col-xl-6{
        text-align: center;
    }
}

.careers-badges {
    position: relative;
}

.careers-badges::after{
	content: '';
	position: absolute;
    width: 18rem;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -2px;
	background-color: #FF1515;
}

@media (max-width: 440px) {
    .modal .submit-a-request-form .custom-file-upload {
        padding: 6px 25px !important;
    }
}

.img-404 {
    background: url(../images/404-img.png) top no-repeat;
    background-size: 130%;
    position: relative;
}

.wrds-404 {
    margin-top: 15rem;
    padding-top: 1rem;
    background-color: #fff;
}

.wrds-404 p,
.wrds-404 h4 {
    text-shadow: 2px 0 #fff;
}

@media (min-width: 576px) {
    .img-404 {
        background-size: contain;
    }

    .wrds-404 {
        margin-top: 17rem;
    }
}

@media (min-width: 768px) {
    .img-404 {
        background-size: cover;
        min-height: 667px;
    }

    .wrds-404 {
        margin-top: 28rem;
        background-color: transparent;
    }
}

@media (min-width: 992px) {
    .wrds-404 {
        margin-top: 38rem;
    }
}

/*======================
    AFFILIATE PROGRAMS
======================= */
.affiliate-programs-image-section{
    background: url('../images/Company/company-affiliates-hero-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.affiliate-freelance-program{
    background-color: #f3f3f3;
}

.affiliate-student-program{
    background-color: #fcfcfc;
}

.download-buyam-affiliate{
    background-image: url('../images/Security/Buyam\ -\ Features-img-cta-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.buyam-features-img-3{
    z-index: 1;
    bottom: -4rem;
    right: -7rem;
    display: block;
}

@media (max-width: 1300px) {
    .buyam-features-img-3{
        display: none;
    }
    .download-buyam-affiliate{
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .download-buyam-affiliate-btn{
        justify-content: center !important;
    }
}


@media (max-width: 992px) {
    .affiliate-programs-image-section{
        background: none;
    }
}

@media (max-width: 575.98px) {
    .affiliate-programs-image-section-2{
        background: url('../images/Company/company-affiliates-hero-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 25rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .affiliate-programs-image-section-2{
        background: url('../images/Company/company-affiliates-hero-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50rem;
    }
}

/*======================
    GET IN TOUCH
======================= */
@media (max-width: 992px) {
    .get-mailing{
        text-align: center;
    }
    .get-mailing .d-flex{
        flex-direction: column;
    }
    .get-mailing .d-flex .w-50{
        width: 75% !important;
    }
}

@media (max-width: 575.98px) {
    .get-mailing .d-flex .w-50{
        width: 100% !important;
    }
}


.section-8 .row {
    padding-left: 80px;
    padding-right: 80px;
}

.section-8 .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 21.5rem;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-8 .bg-image-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 9rem;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.section-8 a p:hover,
.section-8 a h6:hover {
    color: var(--black-medium) !important;
}

.section-8 .mobile-watch-more {
    display: none;
}


.tiny__display img {
    max-width: 100%;
    height: auto;
}

.iti__flag {
    background-image: url("../libs/intl_tel_input/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../libs/intl_tel_input/img/flags@2x.png");
    }
}

#toast-container > div {
    border-radius: 12px;
}

.toast-info {
    background-color: #1f75b9;
}
